<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssh.net.ssh">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/TranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PhoneLoginActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.CheckCodeActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.CheckActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.SubscribeActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.EvaluateActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.QuestionActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.SystemNewsActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.ChoseTypeActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.ThingActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.BrandActivity"
            android:theme="@style/TranslucentTheme" />

    </application>

</manifest>