<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.miiikr.taixian">

    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission>
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>


    <permission
        android:name="com.miiikr.taixian.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.miiikr.taixian.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:name=".app.SSHApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!-- 定义FileProvider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="4134372629" />
        <meta-data
            android:name="WEIBO_CHANNEL"
            android:value="weibo" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="58198371a1cbef0bf63a428ec2fd4609" />

        <service android:name="com.amap.api.location.APSService"></service>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/TranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.PhoneLoginActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.CheckCodeActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.CheckActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.SubscribeActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.EvaluateActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.QuestionActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.SystemNewsActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.ChoseTypeActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.SellWatchActivity"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.SellBagActivity"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.SellJewelryActivity"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.BrandActivity"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".ui.activity.WalletActivity"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".ui.activity.CheckDetailsActivity"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".ui.activity.AppointmentActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.MapActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".activity.PermissionActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.activity.SexActivity"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".ui.activity.ShareActivity"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".ui.activity.PostActivity"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".ui.activity.PicActivity"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".ui.activity.BigPicActivity"
            android:theme="@style/TranslucentTheme" />

        <activity android:name=".ui.activity.EvaluateDetailsActivity"
            android:theme="@style/TranslucentTheme"/>

        <activity android:name=".ui.activity.SellDetailsActivity"
            android:theme="@style/TranslucentTheme"/>

        <activity android:name=".ui.activity.RecoverActivity"
            android:theme="@style/TranslucentTheme"/>

        <activity android:name=".ui.activity.StoreRecoverActivity"
            android:theme="@style/TranslucentTheme"/>


        <activity android:name=".ui.fragment.LocationActivity"
            android:theme="@style/TranslucentTheme"/>


        <activity android:name=".ui.fragment.WriteConnInfoActivity"
            android:theme="@style/TranslucentTheme"/>



        <service android:name=".service.LocationService" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>


    </application>

</manifest>